/* *{
    padding:0;
    margin:0;
} */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.text{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 20px;
}
.top-banner{
    background-image: url("./images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width:50%;
    padding:5%;
}
.half-width img{
    width:100%;
}
.link-button{
    text-decoration: none;
    padding:10px 40px;
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight: 700;
    border-radius:5px;
}
.dream-big{
    background-image:url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
/* .expriences-item{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10 25px gray;

} */
.expriences-item{
    width:40%;
    margin-left:5%;
    margin-right:5%;
    padding-left:20px;
    padding-right:20px;
    box-shadow: 15px 15px 25px gray;
    /* transition: 0.6s; */
}
/* .expriences-item:hover{
    transform: scale(1.07);
} */
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(lightblue, tomato);
    border-image-slice: 1;
}
#baby1{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    margin-top:40px;
    margin-bottom:40px;

    text-align:center;
}